<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "First test suite">

    <listeners>

    </listeners>

    <test name="Login">


        <parameter name ="browser" value ="chrome"/>
        <parameter name="url" value="http://go.dev.maguru.dk/#/login"/>
        
        <classes>

            <class name="ParameterTestJava"/>
            <class name="TestNG"/>
            <class name="LinguaLeo"/>


        </classes>

    </test>

</suite>